<%- include('../layout/header.ejs',{admin:true}) %>
<p>heloooooo
    this is Dashboard
</p>
<div><img src="/public/adminimage/Dashboard Screen for Quoting Software.png" alt=""></div>


<%- include('../layout/footer.ejs',{admin:true}) %>