<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: rgba(18, 17, 17, 0.911);
      color: #fff;
    }

    .container {
      margin-top: 100px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .form-control {
      border-radius: 5px;
    }

    .btn-primary {
      background-color: #007bff;
      border: none;
    }

    .btn-primary:hover {
      background-color: #0069d9;
    }

    .error-message {
      color: #e61010;
    }
  </style>
</head>

<body>
  <div class="container mt-5 text-light">
    <h2>Reset Password</h2>
    <form action="/admin/confirm" method="post" id="resetpassword">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="reset1">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password" name="reset2">
        <input type="text" name="admin_id" value="<%= admin_id %>" hidden>
      </div>
      <% 
      if (typeof message != 'undefined') {
        %>
      <p class="error-message"><%= message %></p>
      <%
      }
      %>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>