<%- include('../layout/header.ejs',{admin:true}) %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sidebar {
      background-color: #FCC114;
      height: 100vh;
      padding-top: 20px;

      color: black
    }

    .sidebar-header {
      padding: 10px;
      text-align: center;
    }

    .sidebar-brand {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
    }

    .nav-item {
      margin-bottom: 10px;
    }

    .nav-link {
      color: #7E7E7E;
      font-weight: bold;
      transition: color 0.3s;
    }

    .nav-link.active {
      color: #575757;
    }

    .nav-link:hover {
      color: #FFFFFF;
    }

    .sidebar .nav-link.active {
      background-color: #000;
      border-radius: 10px;
    }
  </style>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-2 col-sm-2 sidebar">

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'dashboard') { %>active<% } %>" href="/admin/home">
              <i class="bi bi-speedometer2"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'products') { %>active<% } %>" href="/admin/products">
              <i class="bi bi-basket"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'users') { %>active<% } %>" href="/admin/users">
              <i class="bi bi-people"></i> Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'orders') { %>active<% } %>" href="/admin/orders">
              <i class="bi bi-file-earmark-text"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'category') { %>active<% } %>" href="/admin/category">
              <i class="bi bi-grid-3x3-gap"></i> Category 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'coupon') { %>active<% } %>" href="/admin/coupon">
              <i class="bi bi-tags-fill"></i> Coupon 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'banner') { %>active<% } %>" href="/admin/banner">
              <i class="fas fa-flag"></i> Banner 
            </a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link text-light" id="addCouponLink" href="/admin/addcoupon">
                  <i class="bi bi-plus"></i>Add Coupon
                </a>
              </li> -->
        </ul>
      </div>
      <div class="col-lg-8 col-sm-8">

        <div class="m-5 pt-5">
          <div>
            <h2>Add Coupon</h2>
          </div>
          <div>
            <form action="/admin/addCoupon" method="post" enctype="multipart/form-data" onsubmit="return validateDate()">
              <div class="form-group my-3">
                <label for="nameInput">Coupon Code</label>
                <input type="text" class="form-control form-control-sm" id="nameInput" name="code" placeholder="Enter coupon code" minlength="4" required>
              </div>
              <%if(typeof message!='undefined'&&err==1){%>
               <p style="color: red;"><%=message%></p> 
             <% }%>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Offer Percentage</label>
                <input type="number" class="form-control form-control-sm" id="nameInput" name="percentage" min="0" max="50" placeholder="Enter Offer Percentage" required>
              </div>
              <%if(typeof message!='undefined'&&err==2){%>
                <p style="color: red;"><%=message%></p> 
              <% }%>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Starting Date</label>
                <input type="date" class="form-control form-control-sm" id="nameInput" name="startingDate" placeholder="Enter date" id="validity" required>
              </div>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Exprire Date</label>
                <input type="date" class="form-control form-control-sm" id="nameInput" name="expiryDate" placeholder="Enter date" id="validity" required>
              </div>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Description</label>
                <input type="text" class="form-control form-control-sm" id="nameInput" name="description" placeholder="Enter description" required>
              </div>
              <div>
                <label for="">upload Coupon Image</label>
                <input type="file" name="image">
              </div>
              <!-- <div class="form-group my-3">
                      <label for="nameInput">Minimum Amount</label>
                      <input type="number" class="form-control form-control-sm" id="nameInput" name="minimumAmount" placeholder="Enter Minimum Amounts" required>
                  </div> -->
              <!-- <div class="form-group my-3">
                    <label for="nameInput">Category</label>
                    <input type="text" class="form-control form-control-sm" id="nameInput" name="category" placeholder="Enter Category" required>
                </div>     -->
              <div>
                <p class="text-success"></p>
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
  <script>
    function validateDate() {
      var selectedDate = new Date(document.getElementById("validity").value);
      var today = new Date();
      var minimumDate = new Date();
      minimumDate.setDate(today.getDate() + 3);
  
      if (selectedDate < minimumDate) {
        alert("Please select a date at least 3 days from today.");
        return false;
      }
  
      return true;
    }
  </script>

  <%- include('../layout/footer.ejs',{admin:true}) %>
</body>

</html>