<% if(admin){ %>
<!-- Admin footer content -->
<% } else { %>

<footer class="footer text-light py-5" style="background-color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h3>About Golon Sports</h3>
        <p>Golon Sports is your ultimate destination for all your sporting needs. We offer a wide range of high-quality sports equipment, apparel, and accessories to help you excel in your favorite sports.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h3>Contact Information</h3>
        <p>123 Main Street<br>
          City, State 12345<br>
          Phone: (123) 456-7890<br>
          Email: info@golonsports.com</p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h3>Follow Us</h3>
        <ul class="social-icons d-flex">
          <li><a href="#" class="logo-link"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#" class="logo-link"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#" class="logo-link"><i class="bi bi-youtube"></i></a></li>
          <li><a href="#" class="logo-link"><i class="bi bi-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  /* Additional CSS styles for the footer */

  .footer {
    padding: 40px 0;
  }

  .footer h3 {
    margin-bottom: 20px;
  }

  .footer p {
    line-height: 1.8;
  }

  .social-icons {
    list-style: none;
    padding: 0;
  }

  .social-icons li {
    margin-right: 10px;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }

  .social-icons .logo-link {
    color: #ffffff;
  }

  @media (max-width: 992px) {
    .footer .row {
      flex-direction: column;
    }

    .footer .col-lg-4 {
      margin-bottom: 30px;
    }
  }
</style>



<% } %>




</body>

</html>